<% wrap_layout :layout do %>
  <div class="page-title page-title-article l-box">
    <div class="width-wrapper">
      <h1><%= current_article.title %></h1>
      <div class="article-meta">
        <%= current_article.date.strftime("%A #{current_article.date.day.ordinalize} %B, %Y") %>
        &middot;
        <%= link_to 'Comments', "#{current_article.url}#disqus_thread" %>
        <br>
        <%= tag_link_list(current_article) %>
      </div>
    </div>
  </div>

  <article class="width-wrapper l-box">
    <%= yield %>
  </article>

  <%= partial 'author_bio' %>

  <div class="width-wrapper l-box">
    <%= disqus %>
    <%= disqus_count %>
  </div>
<% end %>
