<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= yield_content(:title) || current_page.data.title || "Luke Antins &middot; Software Engineer &amp; Consultant" %></title>
  <meta name="description" content="<%= current_page.data.description || "" %>">
  <meta name="keywords" content="<%= current_page.data.keywords || "" %>">
  <% if current_page.data.canonical? %>
  <link rel="canonical" href="<%= current_page.data.canonical %>">
  <% end %>
  <meta name="viewport" content="width=device-width">
  <link rel="author" href="humans.txt">
  <meta name="google-site-verification" content="ovOJ2WMJiEIDo-XraFm4dEK1qh_GmHdbpl2hAB3FXrU">
</head>
<body>

  <!--[if lt IE 7]>
    <p class="outdatedbrowser">You are using an outdated browser :(<br><a href="http://browsehappy.com/">Upgrade your browser</a> for a better and safer internet experience.</p>
  <![endif]-->

  <%= partial 'navigation' %>

  <!-- PAGE CONTENT: START -->
  <%= yield %>
  <!-- PAGE CONTENT: END -->

  <footer class="layout l-box">
    <div class="width-wrapper">
      <span class="copy">&copy; 2015 Luke Antins. All rights reserved.</span>
    </div>
  </footer>

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600%7COpen+Sans:400italic,400,300" rel="stylesheet" property="stylesheet" type="text/css" >
  <%= stylesheet_link_tag 'float64', property: 'stylesheet' %>

  <%= google_analytics_universal_tag %>

  <script type="text/javascript">
  var clicky_site_ids = clicky_site_ids || [];
  clicky_site_ids.push(100874668);
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//static.getclicky.com/js';
    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
  </script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100874668ns.gif" /></p></noscript>

</body>
</html>
