---
title: Blog posts from Luke Antins
priority: 0.6
change_frequency: monthly
pageable: true
per_page: 12
canonical: http://float64.uk/blog/
---
<div class="page-title l-box">
  <div class="width-wrapper">
    <h1>Blog</h1>
    <h2>Recent Posts</h2>
  </div>
</div>

<section class="content content-no-border l-box">
  <div class="width-wrapper">

    <ul class="article-listing">
    <% page_articles.each_with_index do |article, i| %>
      <li>
        <span><%= format_date(article.date) %></span>
        <%= link_to article.title, article %>
        <!--
        <% unless article.tags.empty? %>
          <div class="tags">
            TAGS &middot;
            <%= tag_link_list(article) %>          
          </div>
        <% end %>
        -->
      </li>
    <% end %>
    </ul>

  </div>
</section>

<% if paginate && num_pages > 1 %>
<div class="pagination l-box">
  <div class="pure-g width-wrapper">
    <div class="pure-u-1 pure-u-sm-1-3">
      <% if prev_page %>
        <%= link_to '&lsaquo;&lsaquo; Previous page', prev_page, :class => 'pure-button previous' %>
      <% end %>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3">
      <span class="page-number">
        Page <%= page_number %> of <%= num_pages %>
      </span>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3">
      <% if next_page %>
        <%= link_to 'Next page &rsaquo;&rsaquo;', next_page, :class => 'pure-button next' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<%= partial 'author_bio' %>
